body{
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}
h1{
    color: orangered;
}
h2{
    color:  orangered;
}
p{
    color: black;
    
}
.p2{
    color: green;
}
footer{
    color: blue;
}
h3{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h4{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}